.no-padding {
    padding: 0 !important;
}

.notes:hover h4, .notes:hover .note-date, .notes:hover p {
    font-weight: Bold;
    color: #fff;
}

.note-date{color: #888;}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover, .list-group-item.active:hover {
    background-color: #3097d1;
    color: #dddddd;
}

.list-group-item.active, .list-group-item.active:focus {
    background-color: #f5f5f5;
    color: #000;
    border: 1px solid #d3e0e9
}

.note-title {
    font-size: 3.2em;
    width: 100%;
    color: #2579a9;
    height: 72px;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Rokkitt', serif;*/
    border: 1px solid #fff;
}

.note-title:focus, .note:focus {outline: none}
.note{width:100%; height: 420px; border: 0 solid #fff;font-size: 1.2em}
input::-webkit-input-placeholder, input:-moz-placeholder,input::-moz-placeholder input:-ms-input-placeholder{
    color: #2579a9 !important;
}
.action i.fa { color: #d5d5d5 !important;}
.action:hover i.fa, .action:focus i.fa { color: #2579a9 !important;}.action:focus{outline: none}
.action{float:right;margin: 3px}

.notes-list{
    height:430px;
    overflow-y: auto;
}

#sort_list{width:75%;}
#sort_list::after{clear: both;}

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{
    border-bottom: 1px solid #d5d5d5 !important;
}

.pageName h2,.notes h4{color:#2579a9}
.navbar-brand{color: #2579a9; !important;}
/*.deleteLink{float:right;*/
    /*margin:15px;color:#d5d5d5; font-size: 1.1em}*/